# === General ===
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.swp
*.swo
*.tmp
*.bak
*.orig
*.db

# === Python Virtual Envs ===
booksy-env
env/
venv/
ENV/
env.bak/
venv.bak/

# === Python Bytecode ===
__pycache__/
*.py[cod]
*$py.class

# === Django ===
*.sqlite3
db.sqlite3
media/
staticfiles/
*.secret
local_settings.py

# === Coverage / Testing ===
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml
nosetests.xml
pytest_cache/
test-results/

# === React / Node ===
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.parcel-cache/
frontend/.eslintcache
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# === General IDE/Editor ===
.vscode/
.idea/
*.code-workspace

# === OS Specific ===
.DS_Store
Thumbs.db

# === Git Specific ===
.git/



